<div class="col-4">
  <% if(blogs != null){ %>
  <% blogs.forEach(function(blog){ %>
  <div class="row">
    <div class="card">
      <div class="card-head">
        ss
      </div>
    </div>
  </div>
  <% }); %>
  <% } %>
</div>
