
<footer class="footer">
    <div class="container d-flex justify-content-between">
        <span>Copyright &copy; <%= new Date().getFullYear() %> BN Media</span>
        <span><%= platform.version %> - <%= platform.organization %> - <%= platform.license %></span>

    </div>
</footer>