<footer class="footer">
    <div class="container d-flex justify-content-between">
        <span>Copyright &copy; <%= new Date().getFullYear() %> BN Media</span>
        <span><strong>Version:</strong> <%= platform.version %> | <strong>Organization:</strong> <%= platform.organization %> | <strong>License:</strong> <%= platform.license %></span>

    </div>
</footer>