<div class="row pb-3">

    <div class="col-12">
        <div class="">
            <div class="d-flex justify-content-between">
                <div>
                    <h1 class="m-0"><%- title %></h1>
                    <span class="sub-header"><%- subtitle %></span>
                </div>
                <div class="align-self-end">
                    <% buttons.forEach(button => { %>
                        <%- button %>
                    <% }); %>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

