<div class="row pb-2 pt-3">

    <div class="col-12">
        <div class="">

            <div class="d-flex justify-content-between">
                <div>
                    <h2 class="m-0"><%- title %></h2>
                    <span class="sub-header" style="opacity: 1;"><%- subtitle %></span>
                </div>

                <div class="align-self-end d-flex">
                    <% buttons.forEach(button => { %>
                        <%- button %>
                    <% }); %>
                </div>

            </div>
        </div>
        <hr>
    </div>
</div>

