<div class="col-3">
  <div class="card">
    <div class="card-head">
      <div class="user-element">
        <img src="<%= user.picture %>" class="nav-img" />
      </div>&nbsp;
      <div class="user-element">
        <span class="user-text"><%= user.firstname %> <%= user.lastname %></span>
      </div>
    </div>
  </div>
</div>
