<html>
<%- include("partials/header.ejs"); %>
<head>
  <title>Banned.</title>
</head>

<body class="bg-danger" style="text-align:center;">
  <h1 class="text-title" style="margin-top: 64px; color: white;">Congrats! You've been banned.</h1>
</body>

</html>
