<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<body class="preload"><br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><%= error.status %> Error</h1>
        <code style="white-space: pre-wrap"><%= error.message %></code>
        <p class="lead">You've really outdone yourself on this one. Give yourself a good pat on the back.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Take me home</a>
        </p>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
