<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav.ejs") %>
<style>
    body {

    }
</style>
<body>
<div class="container">
    <div class="col-5"><br>
        <div class="card" style="">
            <div class="card-title">Login</div>
            <div class="card-subtitle">Sign in with your username and password.</div>
            <% if(typeof err !== 'undefined'){ %>
                <div class="card-subtitle text-danger" style="opacity: 1;"><%= err %></div>
            <% } %>
            <form method="post" action="/login">
                <div class="form-group">
                    <input type="user" class="form-control" id="logUser" name="logUser" placeholder="Username">
                    <small class="text-muted">Your Chico State username</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="logPassword" name="logPassword"
                           placeholder="Password">
                </div>
                <div class="d-flex justify-content-between">
                    <a href="/register">Create account</a>
                    <div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
