<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>

<body><br>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>CSCI Turn in</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <h5 class="">Login</h5>
        <div class="card  mw-75" style="">
          <div class="card-body">
            <form method="post" action="/login">
              <div class="form-group">
                <label for="user">Username</label>
                <input type="user" class="form-control" id="logUser" name="logUser" placeholder="Username">
                <small class="text-muted">Your Chico State username</small>
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="logPassword" name="logPassword" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
              <small class="text-danger"><% if(typeof error != 'undefined'){ if(error.type == "login"){ %> <%= error.message %> <% } } %></small>
              <a href="/register" class="float-right" style="vertical-align:middle;">Create account</a>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</body>

</html>
