body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

hr{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sub-header{
  font-size: 16px;
}

.nav-link{
  font-size: 14px;
}
.bg-dark{
  background-color: #212529 !important;
}
.navbar{
  padding-top:0;
  padding-bottom:0;
}
.dropdown-menu{
  font-size: 14px;
}
.table-title{
  font-weight: 600;
  color: inherit;

  text-decoration: none;
}

.badge .badge{
  border: 1px solid #fff;
}



.no-bs{
  text-decoration: none;
  color: inherit;
}
.no-bs:hover{
  text-decoration: none;
  color: inherit;
}

.badge {
  margin: 0.15em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px; /* Margin bottom by footer height */

}
.footer {
  font-family: 'IBM Plex Sans', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  font-size: 14px;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  background-color: #212529;
}


.results-summary{
  position:relative;
  max-height: 5em;
  overflow-y: hidden;
  /* … */
}
.results-summary:after {
  content:"";
  position:absolute;
  top:3em;
  left:0;
  height:2em;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0), #fff);
}