body{
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav-link{
  font-size: 14px;
}
.bg-dark{
  background-color: #212529 !important;
}
.navbar{
  padding-top:0;
  padding-bottom:0;
}
.dropdown-menu{
  font-size: 14px;
}
.table-title{
  font-weight: 600;
  color: inherit;

  text-decoration: none;
}

.badge .badge{
  border: 1px solid #fff;
}



.no-bs{
  text-decoration: none;
  color: inherit;
}
.no-bs:hover{
  text-decoration: none;
  color: inherit;
}

.badge {
  margin: 0.15em;
}